a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

form {
    width: 2000px;
    margin: 0 auto;
}

body{
	background-image: url('heart.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	font-weight: bold;
	background-blend-mode: normal;
}

h1{
	text-align: center;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

label{
	color: white;
}
